* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: lightgreen; */
  height: 100vh;
}

.container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.head-container {
  /*flex: 1;*/
  width: 200px;
  height: 50px;
  background-color: lightblue;
}

.img-container {
  height: 300px;
  width: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
    justify-content: center;
}