.head-container{
    background-color: gray;
    width: 100%;
}
.img-section{
    width:100%;
    height:250px;
    margin-top: 150px;
}
.img-container{
    width:100%;
    height:100%;
    object-fit: cover;
}